.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: baseline;
}

.toggel_text{
    cursor: pointer;
    color: var(--color-primary);    
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cards_wrapper{
    margin-top: 18px;
}