.section_wrapper{
    padding: 0px 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.faq_wrapper{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 33px;
    padding: 0px 153px;
}